<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <epubstudio>
      <!-- Common -->
      <common type="Sitecore.SharedModules.ePub.Configuration.SettingsSection, Sitecore.SharedModules.ePub">
        <settings hint="raw:AddToSettingsList">
          <setting name="ePubStudio.FolderIcon" value="Applications/128x128/folder.png" />
          <setting name="ePubStudio.PhotoSceneryIcon" value="Applications/128x128/photo_scenery.png" />
          <setting name="ePubStudio.StandardFields" value="Title|Keywords|Description|Alt" />
          <setting name="ePubStudio.Database" value="master"/>
          <setting name="ePubStudio.CoreDatabase" value="core"/>
          <setting name="ePubStudio.Shell" value="shell"/>
          <setting name="ePubStudio.Domain" value="sitecore"/>
          <setting name="ePubStudio.PublishingCachePath" value="D:\Public\ePubBooks\Cache"/>
        </settings>
      </common>
      <printstudioengine type="Sitecore.SharedModules.ePub.Configuration.SettingsSection, Sitecore.SharedModules.ePub">
        <settings hint="raw:AddToSettingsList">
          <!-- store master documents inside media item or not -->
          <setting name="ePubStudio.StoreMastersInDB" value="true" />
        </settings>
      </printstudioengine>
    </epubstudio>
    <pipelines>
      <ePubPrint>
        <processor type="Sitecore.SharedModules.ePub.Pipelines.PrintEngine.RenderProject, Sitecore.SharedModules.ePub" />
      </ePubPrint>
    </pipelines>
  </sitecore>
</configuration>